<h1>Welcome to Mood</h1>

<form action="/followers" method="POST">
    <input type="text" placeholder="search" name="screen_name">
    <input type="submit">
    <p>Do you want the import your followers, click below</p>
    <input type="submit" value="New User" formaction="/new">
    <input type="submit" value="Import" formaction="/newstart">
    <!-- <input type="submit" value="New Day" formaction="/twitter" method="POST"> -->
</form>